.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    overflow: hidden;
  }
  
  .nav-item {
    position: relative;
  
    width: 110px;
    height: 150px;
    flex-shrink: 0;
  
    border: none;
    background: #B36568;
  
    border-radius: 55px 55px 0 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-top: 0;
  
    color: #77736c;
  }
  
  .nav-item.active {
    color: #E5989B;
  }

  .nav-item svg {
    position: relative;
    z-index: 1;
  
    margin-top: 20px;
  }